body {
  background-color: cornflowerblue;
}
.game {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 765px;
  background-color: #ffe47b;
  border: 3px solid darkgrey;
  border-radius: 3px;
}
.infoBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  height: 100px;
  font-family: Ubuntu;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 400px 20px;
}
.scoreApple {
  width: 40px;
  height: 56px;
}
.score {
  display: flex;
  padding-top: 1.25em;
  margin-left: 0.8em;
}
.scoreDisplay {
  color: black;
  font-weight: bolder;
  font-size: 2em;
  padding-left: 0.25em;
  margin-top: 0.4em;
}
.title {
  width: 300px;
  height: 85px;
  color: rgb(252, 164, 0);
  text-align: center;
  font-weight: bolder;
  font-size: 2.45em;
  padding-bottom: 0.1em;
}
.highScore {
  display: flex;
  padding-top: 1.25em;
  margin-right: 1.25em;
}
.highScoreStar {
  width: 40px;
  height: 56px;
}
.highScoreDisplay {
  color: black;
  font-weight: bolder;
  font-size: 2em;
  padding-left: 0.25em;
  margin-top: 0.4em;
}
.field {
  margin-inline: 2.75%;
  margin-block: 2.5%;
  width: 94%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.219);
}
